@media screen and (min-width:0px) and (max-width:630px){
  *{
    box-sizing: border-box;
  }
  .disableInMobile{
    display:none;
  }
  .container-main{
    width:100%;
    margin:0 auto;
  }
  .nav-contents{
    width:100%;
  }
  .branks{
    height:110px;
  }
  #navtop{
    padding:0;
    height:100px;
  }
}
@media screen and (min-width:630px) and (max-width:992px){
  *{
    box-sizing:border-box;
  }
  .disableInTablet{
    display:none;
  }
  .container-main{
    max-width:720px;
    margin:0 auto;
  }
  .branks{
    height:110px;
  }
  .nav-contents{
    width:100%;
    max-width:720px;
    margin:0 auto;
  }
  #memo-list{
    max-width:720px;
  }
  #navtop{
    height:100px;
  }
  #nav-pc{
    display:none;
    height:0px;
  }
}
@media screen and (min-width:992px){
  .disableInPC{
    display:none;
  }
  #nav-mobile{
    display:none;
  }
  .container-main{
    max-width:992px;
    margin:0 auto;
  }
  .nav-contents{
    width:992px;
    margin:0 auto;
  }
  .branks{
    height:60px;
  }
  #memo-list{
    max-width:720px;
  }
  #user-info{
    display:inline-block;
    position:fixed;
    top:100px;
    left:auto;
    margin:0 0 0 720px;
  }
  #navtop{
    height:50px;
  }
  #nav-pc{
    display:flex;
  }
}
body{
  background-color:lightgrey;
}
.navbar{
  padding:0;
}
.logout-menu{
  height:50px;
  width:15%;
  margin:0;
}
.nav-btns{
  margin:0;
  list-style:none;
  display:flex;
  padding:0;
  width:100%;
  float:left;
  left:0;
}
.nav-btn{
  height:50px;
  width:25%;
  margin:0;
  margin:0;
}
.nav-btn-pc{
  width:20%; 
  height:50px;
}
.nav-search-pc{
  width:40%;
}
.logout-menu-pc{
  width:20%;
}
.nav-btn>a{
  width:100%;
  height:100%;
}
.nav-btn-pc>a{
  width:100%;
  height:100%;
}
.nav-contents{
  height:100%;
  padding:0;
}
.container-main{
  height:auto;
  border:solid 1px blue;
}
#memo-list{
  height:800px;
  border:solid 1px green;
  background-color:white;
}
#user-info{
  width:272px;
  border:solid 1px red;
  height:500px;
  background-color:white;
}
#navtop{
  width:100%;
  background-color:white;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.4);
}
